<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Աշխատակազմ</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f5e1;
            /* Light greenish background */
        }

        header {
            background-color: #2c3e50;
            /* Dark gray-blue header */
            color: white;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;
        }

        header h1 {
            margin: 0;
            font-size: 24px;
            color: white;
            /* White text color */
        }

        a {
            text-decoration: none;
            color: #2c3e50;
            /* Dark gray-blue text color */
        }

        .logout-btn {
            padding: 10px;
        }

        .logout-btn button {
            background-color: #27ae60;
            /* Green button */
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        .logout-btn button:hover {
            background-color: #218c53;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 20px;
        }

        .action-buttons a,
        .show-all-btn a {
            background-color: #2ecc71;
            /* Green button */
            color: white;
            text-decoration: none;
            padding: 15px 30px;
            border-radius: 5px;
            margin: 10px;
            border: none;
            cursor: pointer;
            width: 100%;
            transition: background-color 0.3s ease;
        }


        .action-buttons,
        .show-all-btn  {
            margin: 200px;
        }

        .action-buttons a:hover,
        .show-all-btn a:hover {
            background-color: #239556;
        }

        .btn-class {
            background-color:#27ae60;
            padding: 10px;
            margin-left: 10%;
            border-radius: 10px;
            text-align: center;
            color: white;
            font-size: 10px;
        }
    </style>
</head>

<body>
    <header>
        <a href="/staff">
            <h1>Աշխատակազմ</h1>
        </a>
        <div class="logout-btn">
            <button onclick="window.location.href='/staff/logout'">Դուրս գալ</button>
        </div>
    </header>

        <a href="/staff/addplant" class="btn-class">Ավելացնել տնկի</a><br><br><br><br>

        <a href="/staff/createplanttype" class="btn-class">Ստեղծել տնկիների տարատեսակ</a><br><br><br><br>

        <a href="/allplants" class="btn-class">Տեսնել բոլոր տնկիները</a><br><br><br><br>
    
        <a href="/plantsmap" class="btn-class">Տեսնել տնկիների քարտեզը</a><br><br><br><br>
    <br>

</body>

</html>
