<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Աշխատակազմ</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f5e1; /* Light greenish background */
        }

        header {
            background-color: #2c3e50; /* Dark gray-blue header */
            color: white;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;
        }

        header h1 {
            margin: 0;
            font-size: 24px;
            color: white; /* White text color */
        }

        a {
            text-decoration: none;
            color: #2c3e50; /* Dark gray-blue text color */
        }

        .logout-btn {
            padding: 10px;
        }

        .logout-btn button {
            background-color: #27ae60; /* Green button */
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        .logout-btn button:hover {
            background-color: #218c53;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 20px;
        }

        .action-buttons a,
        .show-all-btn a {
            background-color: #2ecc71; /* Green button */
            color: white;
            text-decoration: none;
            padding: 15px 30px;
            border-radius: 5px;
            margin: 10px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .action-buttons a:hover,
        .show-all-btn a:hover {
            background-color: #239556;
        }
    </style>
</head>

<body>
    <header>
        <a href="/staff"><h1>Աշխատակազմ</h1></a>
        <div class="logout-btn">
            <button onclick="window.location.href='/staff/logout'">Դուրս գալ</button>
        </div>
    </header>

        <div class="action-buttons" style="margin-left: 24%;">
            <a href="/staff/addplant">Ավելացնել տնկի</a>
            <a href="/staff/createplanttype">Ստեղծել տնկիների տարատեսակ</a>
        </div>

        <div class="show-all-btn" style="margin-left: 24%;margin-top: 100px;">
            <a href="/allplants">Տեսնել բոլոր տնկիները</a>
            <a href="/plantsmap">Տեսնել տնկիների քարտեզը</a>
        </div>
        <br>
   
</body>

</html>
